<div class="container">
  <mat-card class="card-container mat-elevation-z3">
    <mat-icon class="main-icon" color="primary"
      >lock</mat-icon
    >
    <mat-card-subtitle class="text-center"
      >Create a new password for your account on</mat-card-subtitle
    >
    <mat-card-title class="mb-4 text-center">Physio Galenus</mat-card-title>
    <mat-card-content>
      <form [formGroup]="state.pwdRecoveryFg" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput id="email" type="text" formControlName="email" />
          <mat-error
            *ngIf="state.pwdRecoveryFg.get('email')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="state.pwdRecoveryFg.get('email')?.invalid">{{
            state.pwdRecoveryFg.get("email")?.hasError("email")
              ? "Invalid email address"
              : ""
          }}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Enter a new password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error
            *ngIf="state.pwdRecoveryFg.get('password')?.hasError('required')"
            >Password is required</mat-error
          >
          <mat-error
            *ngIf="state.pwdRecoveryFg.get('password')?.errors?.password?.minLength"
            >Password requires a min length of
            {{
              state.pwdRecoveryFg.get("password")?.errors?.password?.minLength
            }}
            characters</mat-error
          >
          <mat-error
            *ngIf="state.pwdRecoveryFg.get('password')?.errors?.password?.uppercase"
          >
            Password must contain at least one upper case letter
          </mat-error>
          <mat-error
            *ngIf="state.pwdRecoveryFg.get('password')?.errors?.password?.nonletter"
          >
            Password must contain at least one number or symbol
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Repeat your password</mat-label>
          <input matInput type="password" formControlName="passwordCheck" />
          <mat-error
            *ngIf="state.pwdRecoveryFg.get('passwordCheck')?.hasError('required')"
            >Repeat password is required</mat-error
          >
          <mat-error
            *ngIf="state.pwdRecoveryFg.get('passwordCheck')?.errors?.mustMatchWithControl"
          >
            Password must match with the previous field
          </mat-error>
        </mat-form-field>


        <button
          mat-flat-button
          color="primary"
          class="button-hover w-100 mt-2 mb-2 text-center"
          type="submit"
        >
          Change password
        </button>
      </form>
    </mat-card-content>
    <mat-divider class="mt-3" [inset]="true"></mat-divider>
    <mat-card-actions class="mt-2 mb-1 d-flex justify-content-between">
      <a class="ml-3 btn-link" routerLink="/login">Back to log in</a>
      <a class="mr-3 btn-link" routerLink="/signup">Sign up</a>
    </mat-card-actions>
  </mat-card>
</div>
