.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.chart-class {
  height: 100%;
  width: 100%;
}

.data-div {
  position: relative;
  font-size: xx-large;
  text-align: right;
  font-weight: bold;
}

.text-div {
  font-size: large;
  text-align: left;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 25px;
}
