<app-loading [isLoading]="state.isLoading"></app-loading>
<app-page-heading
  [heading]="state.heading"
  [subheading]="state.subheading"
  [icon]="state.headingIcon"
></app-page-heading>
<div class="container">
  <form [formGroup]="state.pwdResetFg" (ngSubmit)="onSubmit()">
    <mat-card class="row">
      <mat-card-header>
        <mat-card-title>Reset password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="w-100">
          <mat-label>Enter your current password</mat-label>
          <input matInput required type="password" formControlName="currentPassword" />
          <mat-error
            *ngIf="state.pwdResetFg.get('currentPassword')?.hasError('required')"
            >Current password is required</mat-error
          >
          <mat-error
            *ngIf="
              state.pwdResetFg.get('currentPassword')?.errors?.minlength
            "
            >Password requires a min length of
            {{
              state.pwdResetFg.get("currentPassword")?.errors?.minlength?.requiredLength
            }}
            characters</mat-error
          >
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Enter a new password</mat-label>
          <input matInput required type="password" formControlName="newPassword" />
          <mat-error
            *ngIf="state.pwdResetFg.get('newPassword')?.hasError('required')"
            >Password is required</mat-error
          >
          <mat-error
            *ngIf="
              state.pwdResetFg.get('newPassword')?.errors?.password?.minLength
            "
            >Password requires a min length of
            {{
              state.pwdResetFg.get("newPassword")?.errors?.password?.minLength
            }}
            characters</mat-error
          >
          <mat-error
            *ngIf="
              state.pwdResetFg.get('newPassword')?.errors?.password?.uppercase
            "
          >
            Password must contain at least one upper case letter
          </mat-error>
          <mat-error
            *ngIf="
              state.pwdResetFg.get('newPassword')?.errors?.password?.nonletter
            "
          >
            Password must contain at least one number or symbol
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Repeat your password</mat-label>
          <input matInput required type="password" formControlName="passwordCheck" />
          <mat-error
            *ngIf="
              state.pwdResetFg.get('passwordCheck')?.hasError('required')
            "
            >Repeat password is required</mat-error
          >
          <mat-error
            *ngIf="
              state.pwdResetFg.get('passwordCheck')?.errors
                ?.mustMatchWithControl
            "
          >
            Password must match with the previous field
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div class="mt-3 mb-3 row d-flex justify-content-end">
      <button
      mat-flat-button
      type="submit"
      color="primary"
    >
      Save
    </button>
    </div>
  </form>
</div>
