<div class="modal-header">
  <h4 class="modal-title">{{ textTitle }}</h4>
  <button
    *ngIf="showModalCross"
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p style="white-space: pre-line">{{ textBody }}</p>
  <hr />
  <div align="middle">
    <button
      *ngIf="onClickSecondaryButtonCallback"
      type="button"
      mat-stroked-button
      class="bg-white"
      (click)="onClickSecondaryButton()"
    >
      {{ secondaryButtonName }}
    </button>
    <button
      *ngIf="onClickPrimaryButtonCallback"
      type="button"
      mat-flat-button
      color="primary"
      class="ml-3"
      (click)="onClickPrimaryButton()"
    >
      {{ primaryButtonName }}
    </button>
  </div>
</div>
